/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Truculenta';
}

/* Header Styles */
.hero-banner {
    position: relative;
    background-color: #44344F;
    color: #D3FCD5;
    text-align: center;
    padding: 50px;
}

.hero-image {
    max-width: 100%;
    overflow: hidden; /* Ensure the image doesn't overflow its container */
    position: relative; /* Ensure proper positioning of the overlay */
}

.hero-image img {
    width: 100%; /* Make the image responsive to its container's width */
    height: auto; /* Ensure the image maintains its aspect ratio */
    display: block;
}

.hero-image::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(68, 52, 79, 0.7), rgba(86, 77, 128, 0.7)); /* Adjust the alpha values (0.7) to change transparency */
    z-index: 1; /* Ensure the gradient is above the image */
}


.responsive {
    width: 100%;
    height: auto;
}

.hero-text {
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:  #D3FCD5;
    z-index: 2; /* Make sure the text is above the background overlay */

}



/* Main Content Styles */
.content {
    padding: 20px;
}

.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    font-size: 24px;
}

.card {
    width: 300px;
    border: 1px solid #C2F970; /* Added the missing semicolon */
    text-align: center; 
}

/* Accordion Styles */
.accordion-item {
    margin-bottom: 20px;
}

.accordion-btn {
    background-color: #44344F;
    color: #D3FCD5;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.accordion-content {
    display: none;
    padding: 10px 20px;
}

/* Footer Styles */
footer {
    background-color: #44344F;
    color: #D3FCD5;
    text-align: center;
    padding: 20px;
}
