/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Truculenta';
}

/* Header Styles */
.hero-banner {
    position: relative;
    background-color: #44344F;
    color: #D3FCD5;
    text-align: center;
    padding: 50px;
}

.hero-image {
    max-width: 100%;
    overflow: hidden; /* Ensure the image doesn't overflow its container */
    position: relative; /* Ensure proper positioning of the overlay */
}

.hero-image img {
    width: 100%; /* Make the image responsive to its container's width */
    height: auto; /* Ensure the image maintains its aspect ratio */
    display: block;
}

.hero-image::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(68, 52, 79, 0.7), rgba(86, 77, 128, 0.7)); /* Adjust the alpha values (0.7) to change transparency */
    z-index: 1; /* Ensure the gradient is above the image */
}


.responsive {
    width: 100%;
    height: auto;
}

.hero-text {
    font-size: 4vw; /* Example: set font size to 4% of the viewport width */
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:  #D3FCD5;
    z-index: 2; /* Make sure the text is above the background overlay */
}

@media screen and (max-width: 768px) {
    .hero-text {
        font-size: 24px; /* Adjust font size for smaller screens */
    }
}





/* Main Content Styles */


/* Card Styles */
.card {
    width: 300px;
    height: 400px; /* Set a fixed height for all cards */
    border: 1px solid #C2F970;
    text-align: center;
    position: relative; /* Position relative for overlay */
    overflow: hidden; /* Hide overflowing content */
    transition: transform 0.3s ease; /* Smooth transition */
}

.card:hover {
    transform: translateY(-5px); /* Move card slightly up on hover */
}

.card-link {
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit text color from parent */
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(68, 52, 79, 0.7), rgba(86, 77, 128, 0.7)); /* Dark overlay */
    opacity: 0; /* Initially transparent */
    transition: opacity 0.3s ease; /* Smooth transition */
}

.card:hover::before {
    opacity: 1; /* Fully visible on hover */
}

.card img {
    width: 100%;
    height: auto;
}

.card-text {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    left: 0;
    right: 0;
    color: #D3FCD5; /* Text color */
    padding: 0 10px; /* Add padding */
    text-align: center;
}

.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    font-size: 24px;
    padding: 20px;
}

h2 {
    position: relative;
    bottom: 20px;
    font-size: 40px;
    background-color:  #C2F970;
    text-align: left;
}

.video-section {
    display: grid;
    grid-template-columns: 1fr; /* Default to single column */
    gap: 20px; /* Gap between columns */
    padding: 20px;
    
}

.video-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 aspect ratio (height: 9/16 * 100%) */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 20px); /* Adjusted height to account for padding */
    border: 0; /* Remove iframe border */
}

.video-content {
    width: 100%; /* Set width to 100% for single column layout */
}

@media screen and (min-width: 768px) {
    .video-section {
        grid-template-columns: repeat(2, 1fr); /* Two columns for larger screens */
    }
}

p {
    font-size: 1.5vw; /* Example: set font size to 2% of the viewport width */
    padding: 2%; /* Example: set padding to 2% of the parent element's width */
}

@media screen and (max-width: 768px) {
    p {
        font-size: 16px; /* Adjust font size for smaller screens */
        padding: 10px; /* Adjust padding for smaller screens */
    }
}

@media screen and (min-width: 2560px) {
    p {
        font-size: 24px; /* Adjust font size for 4K screens */
        padding: 20px; /* Adjust padding for 4K screens */
    }
}


/* Accordion Styles */
.accordion-item {
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
}

.accordion-btn {
    background-color: #44344F;
    color: #D3FCD5;
    font-family:  'Truculenta';
    font-size: 25px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.accordion-content {
    display: none;
    padding: 10px 20px;
}

.fa-solid,
.fa-brands {
    font-size: 2vw;
    margin-right: 10px; /* Add spacing between the icon and text */
}

h4 {
    font-size: 40px;
    background-color: #C2F970;
    text-align: left;
    margin-top: 0; /* Remove default margin */
}

@media screen and (max-width: 768px) {
    .fa-brands {
        font-size: 32px; /* Example: set a minimum font size for smaller screens */
    }
}
@media screen and (max-width: 768px) {
    .fa-solid {
        font-size: 32px; /* Example: set a minimum font size for smaller screens */
    }
}
/* Footer Styles */
footer {
    background-color: #44344F;
    color: #D3FCD5;
    text-align: center;
    padding: 20px;
}



